{% extends 'header.html' %}

{% block title %}About Us - Library Management System{% endblock %}

{% block content %}
<style>
    section{
        padding: 50px;
        margin-top: 140px;
        text-align: center;
        background-color: dodgerblue;
        border-radius: 10px;
        font-family: Outfit;

        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>
<section>
    <h2>About Us</h2>
    <p>Learn more about the Library Management System and what we do.</p>
</section>
{% endblock %}
