{% extends 'header.html' %}

{% block title %}Contact Us - Library Management System{% endblock %}

{% block content %}
<style>
    .contact-info {
        list-style-type: none;
        padding: 0;
        margin: 20px 0;
        font-size: 18px;
    }
    
    .contact-info li {
        margin-bottom: 10px;
    }
    section{
        padding: 50px;
        margin-top: 140px;
        text-align: center;
        background-color: dodgerblue;
        border-radius: 10px;
        font-family: Outfit;

        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .contact-info strong {
        color: #333;
    }
</style>
<section>
    <h2>Contact Us</h2>
    <p>If you have any questions, feel free to reach out to us via the following methods:</p>

    <ul class="contact-info">
        <li><strong>Email:</strong> support@librarysystem.com</li>
        <li><strong>Phone:</strong> +123 456 7890</li>
        <li><strong>Address:</strong> 123 Library Street, Knowledge City, Bookland</li>
    </ul>
</section>
{% endblock %}
